/* ======= RESET ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* ======= GLOBAL VARIABLES ======= */
:root {
  /* FONT SIZES */
  --fs-xs: 0.75rem; /*12px*/
  --fs-s: 1rem; /*16px*/
  --fs-m: 1.5rem; /*24px*/
  --fs-l: 2.75rem; /*44px*/
  --fs-title-small: 2rem; /*32px*/
  --fs-title: 2.5rem; /*40px*/

  /* COLORS */
  --bg: #2b283a;
  --bg-header-card: #f5f5f5;
  --bg-card: #ffffff;
  --bg-input-number: #f5f5f5;
  --border: #d5d4d8;
  --text: #918e9b;
  --text-title: #2b283a;
  --text-task: #4a4e74;
  --text-button: #ffffff;
  --bg-button: #3770ed;

  /* BORDER */
  --br: 0.5rem; /* 8 px*/
}

.darkmode {
  /* COLORS */
  --bg: #ffffff;
  --bg-header-card: #3770ed;
  --bg-card: #1f2937;
  --bg-input-number: #f5f5f5;
  --border: #d5d4d8;
  --text: #d5d4d8;
  --text-title: #ffffff;
  --text-task: #f5f5f5;
  --text-button: #ffffff;
  --bg-button: #3770ed;
}

/* ======= FONT FAMILY ======= */
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

input,
button {
  font-family: inherit;
}

/* ======= GLOBAL STYLING ======= */
body {
  background-color: var(--bg);

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-card {
  background-color: var(--bg-card);
}

/* HEADER */
header {
  background-color: var(--bg-header-card);
  text-align: center;
  padding: 2em 4em;
}

header > h1 {
  color: var(--text-title);
  font-size: var(--fs-title);
  font-weight: 800;
}

header > h2 {
  color: var(--text-title);
  font-size: var(--fs-s);
  font-weight: 400;
}

/* MAIN */
main {
  padding: 2em;

  display: flex;
  flex-direction: column;
}

.invoice-calculator-container {
  padding: 2em 0;
}

/* TASK CONTAINER */
.tasks-container {
  margin-bottom: 1em;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border);
}

/* TOTAL CONTAINER */
.total-header {
  display: flex;
  justify-content: space-between;
}

.total-result {
  display: flex;
  justify-content: space-between;
}

/* BUTTON */
.send-btn {
  padding: 0.75em 0;
  font-size: var(--fs-s);
  color: var(--text-button);
  background-color: var(--bg-button);

  border: none;
  border-radius: var(--br);
  cursor: pointer;
}
