/* ======= RESET ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* ======= GLOBAL VARIABLES ======= */
:root {
  /* FONT SIZES */
  --fs-xs: 0.75rem; /*12px*/
  --fs-s: 1rem; /*16px*/
  --fs-m: 1.5rem; /*24px*/
  --fs-l: 2.75rem; /*44px*/
  --fs-title-small: 2rem; /*32px*/
  --fs-title: 2.5rem; /*40px*/
  --fs-amount: 2.25rem; /*36px*/

  /* COLORS */
  --bg: #2b283a;
  --bg-header-card: #f5f5f5;
  --bg-card: #ffffff;
  --bg-input-number: #f5f5f5;
  --border: #d5d4d8;
  --text: #918e9b;
  --text-title: #2b283a;
  --text-task: #4a4e74;
  --text-button: #ffffff;
  --bg-button: #3770ed;

  /* BORDER */
  --br: 0.5rem; /* 8 px*/
}

.darkmode {
  /* COLORS */
  --bg: #ffffff;
  --bg-header-card: #3770ed;
  --bg-card: #1f2937;
  --bg-input-number: #f5f5f5;
  --border: #d5d4d8;
  --text: #d5d4d8;
  --text-title: #ffffff;
  --text-task: #f5f5f5;
  --text-button: #ffffff;
  --bg-button: #3770ed;
}

/* ======= GLOBAL STYLING ======= */
body {
  background-color: var(--bg);

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-card {
  background-color: var(--bg-card);
  width: 90%;
}

/* HEADER */
header {
  background-color: var(--bg-header-card);
  text-align: center;
  padding: 2em 4em;
}

/* MAIN */
main {
  padding: 2em;

  display: flex;
  flex-direction: column;
}

.invoice-calculator-container {
  padding: 2em 0;
}

/* FORM CONTAINER */

.form-add-task {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid var(--border);
  border-radius: var(--br);
  padding: 0.75em;
}

/* TASK CONTAINER */
.tasks-container {
  margin-bottom: 1em;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border);
}

/* TOTAL CONTAINER */
.total-header {
  display: flex;
  justify-content: space-between;
}

.total-result {
  display: flex;
  justify-content: space-between;
}

.payment-desc {
  width: 50%;
}

/* BUTTON */
button {
  padding: 0.75em 0;
  color: var(--text-button);
  background-color: var(--bg-button);
  border: none;
  border-radius: var(--br);
  cursor: pointer;
}

/* ======= FONTS ======= */
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

input,
button {
  font-family: inherit;
}

header > h1 {
  color: var(--text-title);
  font-size: var(--fs-title-small);
  font-weight: 800;
}

header > h2 {
  color: var(--text-title);
  font-size: var(--fs-xs);
  font-weight: 400;
}

.small-text {
  font-size: var(--fs-xs);
  font-weight: 700;
  color: var(--text);
}

.text {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: var(--text-title);
}

.amount-text {
  font-size: var(--fs-amount);
  color: var(--text);
}

button {
  font-size: var(--fs-s);
  font-weight: 500;
}

@media (min-width: 768px) {
  .app-card {
    width: 60%;
    max-width: 600px;
  }

  /* FORM */
  .form-add-task {
    flex-direction: row;
    gap: 0;
  }

  .form-input > input,
  .form-add-task > button {
    height: 30px;
    border: 1px solid var(--border);
  }

  .form-add-task > button {
    align-self: flex-end;
    border-radius: 0 var(--br) var(--br) 0;
  }

  .add-task {
    flex: 1;
  }

  .add-price > input {
    width: 100px;
  }

  /* BUTTON */
  .submit-btn {
    padding: 0 0.75em;
  }

  /* ======= FONTS ======= */

  header > h1 {
    font-size: var(--fs-title);
  }

  header > h2 {
    font-size: var(--fs-s);
  }

  .small-text {
    font-size: var(--fs-xs);
  }

  .text {
    font-size: var(--fs-xs);
  }

  .amount-text {
    font-size: var(--fs-amount);
  }

  .send-btn {
    font-size: var(--fs-s);
  }
}
